
*{
    background-color: black;
    color: #fff;

}


label{
    font-size: 25px;
}

.container{
    text-align: center;
    margin-top: 200px;
}

input{
    border-color: cyan;
    box-shadow: 0px 5px 10px cornflowerblue;
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.button{
    background-color: blue;
    color: #fff;
    font-size: 17px;
    height: auto;
    width: 200px;
    border: none;
    padding: 12px;
    border-radius: 10px;
}